{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<h3 class="mb-5" style="color:white">Chat Global
<br>
<button type="button" class="btn btn-link">
    <a style="color:white" href="{% url 'mensajeGlobalFormulario' %}">Enviar Mensaje Global</a> <br>
</button>
</h3>
<ul>
    {% for mensaje in mensajes %}
        <ul>
            <h5>
                De: {{ mensaje.emisor_mensaje }} - Para: Todos <br>
                Fecha: {{ mensaje.fecha_mensaje }}<br>
                Mensaje:<br> 
                {{ mensaje.texto_mensaje }}<br>
                <img src="{{ mensaje.imagen_mensaje }}"  alt="Sin Imagen"  width="60" 
                height="50"/> <br>
                
                {% if mensaje.leido_mensaje is False %}
                    <button type="button" class="btn btn-link">
                        <a style="color:blue" href="{%  url 'marcarLeido' mensaje.id %}">Marcar Leído</a> <br>
                    </button>
                {% endif %}

            </h5>
        </ul>

    {% endfor %}
</ul>




{% endblock %}


{% block contenido_que_cambia %}



{% endblock %}



