{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

    <h4>Nos conocimos en el curso de Python de Coderhouse y desarrollamos la app Negocios</h4>
    <br>
    <div style="justify-content: center; display: block;">
        <img src="../../../../media/about/juan.jpeg"  alt="Ver imagen"   height="200px"/> 
        <ul>
            <h5>Juan Ignacio Manzoni <br>
                50 años<br>
                Lic. en Adm. Empresas<br>
                Contador Público
            </h5>
        </ul>
    
        <img src="../../../../media/about/matias.jpeg"  alt="Ver imagen"   height="200px"/> 
        <ul>
            <h5>Matias Bañak <br>
                28 años<br>
                Lic. en Adm. Empresas<br>
            </h5>
        </ul>
    
    
        <img src="../../../../media/about/ignacio.jpeg"  alt="Ver imagen"   height="200px"/> 
        <ul>
            <h5>Ignacio Melo <br>
                25 años<br>
                Lic. en Sistemas<br>
            </h5>
        </ul>
    </div>
{% endblock %}


{% block contenido_que_cambia %}

{% endblock %}
