{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}
<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" style="color:white" href="{% url 'busquedaArticulos' %}"><h4>Buscar Articulos</h4></a>
        <a class="navbar-brand" style="color:white" href="{% url 'articulosFormulario' %}"><h4>Agregar Articulos</h4></a>
        <a class="navbar-brand" style="color:white" href="{% url 'todosArticulos' %}"><h4>Lista Articulos</h4></a>
        
        

        
       
        
        


    </div>
</nav>
{% endblock %}


{% block contenido_que_cambia %}

{% endblock %}
