{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" style="color:white" href="{% url 'busquedaClientes' %}"><h4>Buscar Clientes</h4></a>
        <a class="navbar-brand" style="color:white" href="{% url 'clientesFormulario' %}"><h4>Agregar Clientes</h4></a>
        <a class="navbar-brand" style="color:white" href="{% url 'todosClientes' %}"><h4>Lista Clientes</h4></a>
        
        

        
       
        
        


    </div>
</nav>


{% endblock %}


{% block contenido_que_cambia %}



{% endblock %}
