{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" style="color:white" href="{% url 'busquedaProveedores' %}"><h5>Buscar Proveedores</h5></a>
        <a class="navbar-brand" style="color:white" href="{% url 'proveedoresFormulario' %}"><h5>Agregar Proveedores</h5></a>
        
        

        
       
        
        


    </div>
</nav>

{% endblock %}


{% block contenido_que_cambia %}

{% endblock %}
