{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" style="color:white" href="{% url 'busquedaProveedores' %}"><h4>Buscar Prov.</h4></a>
        <a class="navbar-brand" style="color:white" href="{% url 'proveedoresFormulario' %}"><h4>Agregar Prov.</h4></a>
        <a class="navbar-brand" style="color:white" href="{% url 'todosProveedores' %}"><h4>Lista Prov.</h4></a>
        
        

        
       
        
        


    </div>
</nav>

{% endblock %}


{% block contenido_que_cambia %}

{% endblock %}
