{% extends "AppNegocio/padre.html" %}
{% load static %}



{% block titulo %}
<h3 class="mb-5">Registrar nuevo usuario</h3>
<br>
<h3>{{ mensaje  }}</h3>
    <form action="{% url 'register' %}"  method="POST"> {% csrf_token %}

        <style>
            
            
            table.center {
              margin-left: auto; 
              margin-right: auto;
            }
        </style>

        <table class="center">
            {{form.as_table}}
        </table>
        <br>


       
        <button type="submit">REGISTRATE</button>

    </form>

{% endblock %}

{% block contenido_que_cambia %}
    

    

{% endblock %}

