{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}
    {% if respuesta %}
        <H3>{{respuesta}}</H3>

    {% else %}
        {% if proveedores %}

        
            <ul>
                {% for proveedor in proveedores %}
                    <h4>{{proveedor.nombre_prov}} - {{proveedor.rubro_prov}} </h4>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <H3>No hay proveedores con ese nombre</H3>
        {% endif %}
    {% endif %}
    
    
{% endblock %}


{% block contenido_que_cambia %}
    
    
    
{% endblock %}
    


