{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<ul>
    <h3 style="color: white">Proveedores:</h3>
    {% for proveedor in proveedores %}
        <h5>{{proveedor.nombre_prov}} - {{proveedor.rubro_prov}} 
            <button type="button" class="btn btn-link">
                <a style="color:white" href="{% url 'eliminarProveedores' proveedor.nombre_prov %}">Eliminar</a>
            </button>
            <button type="button" class="btn btn-link">
                <a style="color:white" href="{% url 'editarProveedores' proveedor.nombre_prov %}">Editar</a>
            </button>


        </h5>
       
    {% endfor %}
</ul>


{% endblock %}


{% block contenido_que_cambia %}



{% endblock %}
