{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}


<ul>
    <h3 style="color: white">Artículos:</h3>
    {% for articulo in articulos %}
        <h5>{{articulo.nombre_art}} - {{articulo.familia_art}} - #SKU:  {{articulo.codigo_sku_art}} 
            <button type="button" class="btn btn-link">
                <a style="color:white" href="{% url 'eliminarArticulos' articulo.nombre_art %}">Eliminar</a>
            </button>
            <button type="button" class="btn btn-link">
                <a style="color:white" href="{% url 'editarArticulos' articulo.nombre_art %}">Editar</a>
            </button>
        </h5>
        
    {% endfor %}
</ul>

{% endblock %}


{% block contenido_que_cambia %}



{% endblock %}
