{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<ul>
    <h3 style="color: white">Clientes:</h3>
    {% for cliente in clientes %}
        <h5>{{cliente.nombre_cli}} - {{cliente.tipo_cli}}     
            <button type="button" class="btn btn-link">
                <a style="color:white" href="{% url 'eliminarClientes' cliente.nombre_cli %}">Eliminar</a>
            </button>
            <button type="button" class="btn btn-link">
                <a style="color:white" href="{% url 'editarClientes' cliente.nombre_cli %}">Editar</a>
            </button>
        </h5>
        
    {% endfor %}
</ul>

{% endblock %}


{% block contenido_que_cambia %}



{% endblock %}
