{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}

<ul>
    <h3 style="color: white">Usuarios:
        <button type="button" class="btn btn-link">
            <a style="color:white" href="{% url 'chatGlobal'  %}">Ver Chat Global</a>
        </button>
    </h3>
</ul>
<h3><br></h3>
<table>
    {% for usuario in usuarios %}
        {% if request.user.username == usuario.username %}
        {% else %}
            <div style="margin-left:40px">{{usuario.username}}
                <button type="button" class="btn btn-link">
                    <a style="color:white" href="{% url 'chatIndiv' %}">Ver Chat Individual</a>
                </button>
            </div>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}

{% block contenido_que_cambia %}


{% endblock %}
