{% extends "AppNegocio/padre.html" %}
{% load static %}

{% block titulo %}


<ul>
    {% for articulo in articulos %}
        <h4>{{articulo.nombre_art}} - {{articulo.familia_art}} - #SKU:  {{articulo.codigo_sku_art}} 
            <button>
                <a href="{% url 'eliminarArticulos' articulo.nombre_art %}">Eliminar</a>
            </button>
            <button>
                <a href="{% url 'editarArticulos' articulo.nombre_art %}">Editar</a>
            </button>
        </h4>
        <br>
    {% endfor %}
</ul>

{% endblock %}


{% block contenido_que_cambia %}



{% endblock %}
